name: Extract openapi definition
'on': push
jobs:
  publish_doc:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        node-version:
          - 20.10.0
    steps:
      - uses: actions/checkout@v4.1.1
      - uses: actions/setup-node@v4.0.1
        with:
          node-version: ${{ matrix.node-version }}
          cache: npm
      - run: npm ci
      - run: npm run docs
      - uses: actions/checkout@v4.1.1
        with:
          repository: konsumation/konsumation.github.io
      - name: Deploy Pages
        uses: peaceiris/actions-gh-pages@v3
        with:
          personal_token: ${{ secrets.GH_TOKEN }}
          external_repository: konsumation/konsumation.github.io
          publish_branch: master
          publish_dir: openapi
          destination_dir: openapi
          enable_jekyll: true
