name: Extract openapi definition
on: push
jobs:
  publish_doc:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6.0.0
      - uses: actions/setup-node@v6.0.0
        with:
          node-version: 20.15.0
          cache: npm
      - run: npm ci
      - run: npm run docs
      - name: Deploy Pages
        uses: peaceiris/actions-gh-pages@v4
        with:
          personal_token: ${{ secrets.GH_TOKEN }}
          external_repository: konsumation/konsumation.github.io
          publish_branch: master
          publish_dir: openapi
          enable_jekyll: true
