name: Extract openapi definition
'on': push
jobs:
  publish_doc:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        node-version:
          - 18.12.1
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-node@v3.6.0
        with:
          node-version: ${{ matrix.node-version }}
          cache: npm
      - run: npm ci
      - run: npm run doc
      - uses: actions/checkout@v3
        with:
          repository: konsumation/konsumation.github.io
      - name: Deploy Pages
        uses: peaceiris/actions-gh-pages@v3
        with:
          personal_token: ${{ secrets.GH_TOKEN }}
          external_repository: konsumation/konsumation.github.io
          publish_branch: master
          publish_dir: openapi
          destination_dir: openapi
          enable_jekyll: true
